<div class="wrapper">
    <div class="header">
        <h2 class="title">Pumkin Soup</h2>

        <div class="container">
            <div class="recipe-description">
                <div class="recipe-description-icons">
                    <span class="recipe-icon recipe-likes material-icons-outlined">favorite</span>
    
                    <span class="recipe-description-text"> - 1212</span>
                </div>
            </div>
    
            <div class="recipe-description-icons">
                <span class="recipe-icon recipe-timer material-icons-outlined">timer</span>
                
                <span class="recipe-description-text"> 1214 min</span>
            </div>
        </div>
    </div>

    <div class="recipe-steps">
        <ol class="step-list">
            <li class="step">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
            
            <li class="step">Proin ultricies, lorem dapibus hendrerit iaculis, ipsum magna facilisis ipsum, vel malesuada lorem lacus non ligula.  </li>
            
            <li class="step"> Integer laoreet vel tellus a condimentum. Maecenas at accumsan purus. Integer ornare sollicitudin ultrices. Donec condimentum ligula suscipit tempor egestas. 
                Duis rhoncus dui ac velit porttitor, sit amet accumsan sapien consectetur.</li>
            
            <li class="step">Pellentesque ut urna id erat volutpat posuere fringilla in ex. In facilisis non erat ut sodales.</li>
        </ol>
    </div>
</div>
