<div class="detail-servings">
    <div class="servings-info">
        <span class="info-item icon material-icons-outlined">group</span>
        
        <span class="info-item">Servings</span>
        
        <span class="info-item">5</span>
    </div>

    <button type="button" class="detail-btn">Calculate</button>
</div>

<div class="detail-ingredients">
    <div class="detail-calories">
        <span class="material-icons-outlined icon">directions_run</span>

        <span class="calories-title">Calories</span>

        <span class="calories-data">
        189 cal
        </span>
    </div>

    <ul class="ingredients-list">
        <li class="list-item">Pumpkin<span>1</span></li>

        <li class="list-item">Onion<span>1</span></li>

        <li class="list-item">Garlic<span>1</span></li>

        <li class="list-item">Milk<span>1</span></li>
    </ul>
</div>