<div class="wrapper">
    <div class="container-steps">
        <div class="video-wrapper">
            <iframe width="885" height="498" src="https://www.youtube.com/embed/RPGBMkN-_Ys" title="Roasted Pumpkin Soup Recipe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="step-container">
            <div>
                <h2 class="step-title">Step</h2>

                <p class="step-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                <img src="../../../assets/image-assets/step_1.jpg" alt="step" class="step-img">
            </div> 

            <div>
                <h2 class="step-title">Step</h2>

                <p class="step-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                <img src="../../../assets/image-assets/step_2.jpg" alt="step" class="step-img">
            </div> 
        </div>
    </div>
</div>